.wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 3rem 0 3rem;
  background-color: var(--page-bg-color);
}
.empty-wishlist-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}

.wishlist-heading {
  margin: 1rem 0 0 0;
}
.shop-now-btn {
  width: 30%;
  background-color: var(--primary-color);
  border: none;
  color: var(--white);
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.wishlist-items-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: 1.5rem;
  box-shadow: 0px 0px 10px rgba(86, 87, 94, 0.258) ;
  border-radius: 10px;
}

.badge-card {
  width: 20rem;
}

.label {
  padding: 10px;
  height: 2rem;
  width: 3.5rem;
}

.label-icon {
  justify-content: space-between;
}
.card-image-container {
  padding: 3rem 0 1rem 0;
}

.card-image {
  width: 100%;
  object-fit: contain;
  height: 15rem;
}
.card-image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-title {
  color: var(--fa-primary-color);
}

.card-footer {
  width: 100%;
}

.discount {
  color: var(--primary-color);
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.wishlist-card-button {
  margin: 1rem 8px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.wishlist-card-footer {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wishlist-image {
  width: 25rem;
}
