.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.filters-container {
  position: fixed;
  top: 3rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100vh;
  background-color: var(--white);
}

.price-slider {
  padding: 0.8rem 2rem;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.price-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem 0 0;
}

.price-slider h4 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.slider-ranges {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-container {
  width: 100%;
  margin: 0 0 1rem 0;
}

.category-container-col,
.rating-container,
.sorting-container,
.delivery-container,
.availability-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 1rem 0 1rem;
  margin: 0 0 0 1rem;
  font-size: 1.5rem;
}

.category-one,
.category-two,
.category-three,
.category-four {
  margin: 8px 0 8px 0px;
}

.category-check {
  height: 15px;
  width: 15px;
  margin: 0 10px 0 0;
}

.rating-item {
  list-style-type: none;
  margin: 1rem 0;
}

.sorting-item {
  list-style-type: none;
  margin: 1rem 0;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 78%;
  position: absolute;
  left: 20rem;
  top: 3rem;
  z-index: 1;
}

.product-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.header-large {
  margin: 0 0 -2rem 0;
}

.product-header {
  margin: 2rem 0 0 5rem;
}

.card {
  margin: 1.5rem;
  box-shadow: 3px 3px 10px var(--grey);
  border-radius: 10px;
}

.badge-card {
  width: 20rem;
}
.text-overlay-card {
  width: 20rem;
}

.label {
  padding: 10px;
  height: 2rem;
  width: 3.5rem;
}

.label-icon {
  justify-content: space-between;
  align-items: center;
}
.heart-icon {
  cursor: pointer;
}
.liked-heart {
  color: red;
  cursor: pointer;
}

.card-image-container {
  padding: 3rem 0 1rem 0;
}

.card-image {
  width: 100%;
  object-fit: contain;
  height: 15rem;
}

.card-content {
  margin: 0 2rem;
}

.card-title {
  color: var(--fa-primary-color);
}

.card-footer {
  width: 100%;
}

.discount {
  color: var(--primary-color);
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.card-button {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
}
.outline-primary {
  cursor: pointer;
}
.card-button-link {
  text-decoration: none;
  color: var(--white);
  padding: 0.8rem 3rem;
}

.product-rating {
  display: flex;
  margin: -1.1rem 0 0.4rem 0;
}
button :nth-child(1) {
  margin-bottom: -3px;
  font-size: 1.2rem;
}
