body {
    background-color: var(--page-bg-color);
}

.cart-header {
    font-size: 3rem;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    padding: 1rem 0 6.5rem 0;
}

.item-price-container-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.horizontal-card {
    margin-top: 2rem;
    width: 38rem;
}

.cart-item-title {
    color: var(--primary-color);
}
.cart-product-image{
    height: 13rem;
    width: auto;
    object-fit: cover;
}

.cart-price-detail-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 25rem;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 0 1rem 0;
    border-radius: 3px;
    box-shadow: 2px 2px 8px var(--grey);
    border-radius: 10px;

}

.price-calculation-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
    align-items: center;
}

.price-card-title {
    margin-left: 1rem;
}


.price-card-item {
    list-style-type: none;
}

.final-price {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.money-save-text {
    text-align: center;
    font-size: var(--meduim-font-size);
    padding: 1.5rem 0.5rem 0 0.5rem;
}

.place-order-btn {
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}

.cart-card-title {
    font-size: var(--larger-font-size);
    font-weight: var(--bolder-font-weight);
    background-color: var(--white);
}

.price {
    margin-left: 0px;
}

.light-text {
    color: var(--grey);
}

.max-width-btn {
    width: 100%;
    margin-left: 0;
}

.btn-counter {
    border-radius: 50%;
    border: 1px solid var(--grey);
    width: 1rem;
}



.quantity-input {
    width: 2rem;
}

.cart-card-buttons {
    display: flex;
    flex-direction: row;
    margin-left:  -1rem;
    padding-top: 1rem;
}

.remove-btn {
    background-color: var(--white);
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    margin: 1rem;
}

.cart-card-button {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin: 10px 10px;
}