.trending-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5rem;
}

.trend-card-title {
    font-size: var(--larger-font-size);
    font-weight: var(--bolder-font-weight);
    margin: 1rem 0;
}

.horizontal-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 35rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.horizontal-card-image-container {
    height: 100%;
}

.horizontal-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.horizontal-card-content {
    margin: 0;
    padding: 0 1rem;
}

.treding-card-text-content {
    text-align: justify;
}

.trending {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2rem 5rem 4rem 5rem;
}

.btn-link {
    border-radius: 5px;
    cursor: pointer;
}

.card-content {
    text-align: left;
}
