.login-container {
    text-align: left;
    width: 24rem;
    text-align: center;
    box-shadow: 3px 3px 8px var(--grey);
    margin: auto;
    margin-top: 10rem;
    padding: 1.5rem;
    font-size: var(--large-font-size);
    border-radius: 10px;
    position: relative;
    z-index: 5;
    background-color: var(--white);
}

.header-large {
    margin-bottom: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--larger-font-size);
    margin-left: 2.5rem;
}
.text-field{
    width: 90%;
    margin-left: 0;
    background-color: var(--page-bg-color);
 }


.handy-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

.check-box {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 5px;
}

.checkbox-text {
    display: flex;
    padding: 10px 10px 10px 0;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.forgot-password {
    text-decoration: none;
    color: var(--blue);
}

.login-btn {
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
}

.btn {
    margin: 1rem auto;
}


.home-page-link {
    text-decoration: none;
    color: var(--white);
}

.signup-link {
    text-decoration: none;
    color: var(--black);
}