.footer-icons {
    color: var(--white);
    padding: 1rem;
}

.main-footer {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: var(--medium-font-weight);
     position: relative;
    bottom: 0;
    width: 100%;
}

.footer-text {
    font-size: var(--larger-font-size);
    font-weight: var(--bolder-font-weight);
}

.footer-icon-link {
    color: var(--white);
    margin: 5rem 1rem;
}