.category-container {
    margin-bottom: -8rem;
}

.section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 1rem 1rem 0rem;
}

.underline {
    height: 5px;
    width: 14rem;
    background-color: var(--grey);
}

.categories {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    flex-flow: row wrap;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
}


.category {
    position: relative;
    width: fit-content;
    margin: 2rem 0;
    border-radius: 10px;
}

.category-card-title {
    position: absolute;
    background-color: var();
    width: 100%;
    padding: 8px;
    text-align: center;
    color: var(--primary-color);
}